streamlit==1.42.0
torch==2.4.0
numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
rich==13.0.0
scikit-learn==1.6.1
seaborn==0.13.2
opencv-python-headless==4.11.0.86  # Reverted
torchvision==0.19.0
ultralytics==8.3.27
ultralytics-thop==2.0.10
